@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "ForgotYourPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">

	<div asp-validation-summary="All" class="text-danger"></div>
	<div class="agileits-top">
		<form asp-action="ForgotYourPassword">

			<input class="text email" asp-for="Email" placeholder="Email" required="">

			<input type="submit" value="Reset Password">
		</form>
		<p class="my-2">Return to Login? <a asp-action="Login"> Click Here!</a></p>

	</div>
</div>

@section ValidationScriptSection {
	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

